<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISBN Value</title>
    <link rel="stylesheet" href="/styles/value.css">
</head>
<body>
    <%- include('partials/header.ejs'); %>
    <div class="centered-content">
        <% if (message.isbn) { %>
            <p>ISBN for "<%= message.title %>" is <%= message.isbn %></p>
            <% if (message.isbn !== "not available") { %>
                <div class="button-container">
                    <form action="/isbn_new" method="get">
                        <button type="submit" name="add_isbn" value="add_isbn">Add ISBN</button>
                    </form>
                </div>
            <% } %>
        <% } else { %>
            <p>ISBN information not available for "<%= message.title %>." Please verify with other sources.</p>
        <% } %>
    </div>
    <%- include('partials/footer.ejs'); %>
</body>
</html>
